body { 
    width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
.box
{
    width: 500px;
    padding-left: 350;
    padding-right: 350; 
}
#topbox {
    background: url(../assets/topbackground.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #ffffff;
    height: 510px;
    padding-top: 290px;
}

#maincontent{
    padding-top: 150px;
    padding-bottom: 150px;    
}

#bottombox {
    background: url(../assets/bottombackground.png);
    background-repeat: no-repeat;
    color: #ffffff;
    height: 666px;
    padding-top: 290px;
}

footer{
    background: #464547;
    padding-left: 140px;
    color:#ffffff;
    font-size: 18px;
}



